{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin/assets/css/bootstrap.min.css' %}" />
</head>
<body>
    <table class="display table table-striped table-hover">
        <tr>
            <th>Category</th>
            <th>Company</th>
            <th>Model</th>
            <th>Vehicle Number</th>
            <th>Missing Place</th>
            <th>Missing Date</th>
            <th>Status</th>
        </tr>
        {% for report in reports %}
        <tr>
            <td>{{report.category}}</td>
            <td>{{report.company}}</td>
            <td>{{report.model_name}}</td>
            <td>{{report.vehicle_num}}</td>
            <td>{{report.missing_place}}</td>
            <td>{{report.missing_date}}</td>
            <td>
            {% if report.status == NULL %}
           <button class="btn btn-primary"><a href="{% url 'VehicleStatus' report.id %}" style="color: white;text-decoration: none;">Status</a></button>
            {% elif report.status != NULL  %}
                <button class="btn btn-primary"><a href="{% url 'EditVehicleStatus' report.id %}" style="color: white;text-decoration: none;">Edit Status</a></button>
                <button class="btn btn-danger"><a href="{% url 'DeleteVehicleStatus' report.id %}" style="color: white;text-decoration: none;">Delete Status</a></button>
            {% endif %}    
           </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>