{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <title>Camp user</title>
  </head>
  <body>
    <h1>Camp Users</h1>
    <table class="table table-striped" border="1">
      <tr>
        <th>Photo</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>District</th>
        <th>City</th>
        <th>Contact no</th>
        <th>Aadhar no</th>
        <th>Panchayath</th>
        <th>Village</th>
        <th>Thaluk</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for user in users %}
      <tr>
        {% comment %} new {% endcomment %}
        <td>
          <img src="{{user.photo.url}}" style="width: 300px; height: auto" />
          <!-- For showing images-->>
        </td>
        <td>{{user.full_name}}</td>
        <td>{{user.address}}</td>
        <td>{{user.district}}</td>
        <td>{{user.city}}</td>
        <td>{{user.contact_no}}</td>
        <td>{{user.aadhar_no}}</td>
        <td>{{user.panchayath}}</td>
        <td>{{user.village}}</td>
        <td>{{user.thaluk}}</td>
        <td><a href="{% url 'EditCampUser' user.id %}">Edit </a></td>
        <td>
          <button
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#deleteModal"
            data-user-id="{{ user.id }}"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div
      class="modal"
      id="deleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">
              Are you sure you want to delete this user?
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">This action cannot be undone.</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              No
            </button>
            <a href="" id="confirmDeleteBtn" class="btn btn-danger"
              >Yes, Delete</a
            >
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="modal" tabindex="-1" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
  </body>
</html>
<script>
  $(document).ready(function () {
    var userIdToDelete;

    $("#deleteModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      userIdToDelete = button.data("user-id");

      var deleteUrl = "/camp_user_delete/" + userIdToDelete + "/";
      $("#confirmDeleteBtn").attr("href", deleteUrl);
    });
  });
</script>
