<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %} {{form.needs}}
      <br />
      <br />
      <input type="radio" name="status" value="Approved" /> Approved
      <input type="radio" name="status" value="Rejected" /> Rejected
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
