
{% load static %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <link rel="stylesheet" href="{% static 'admin/assets/css/bootstrap.min.css' %}" />
          <h4 class="card-title">Volunteer Allocate Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              id="basic-datatables"
              class="display table table-striped table-hover"
            >
              <thead>
                <tr>
                  <th>camp id</th>
                  <th>volunteer id</th>
                  <th>current date</th>
                </tr>
              </thead>
              <tbody>
                {% for user in volunteer_camp %}
                <tr>
                  <td>{{user.camp}}</td>
                  <td>{{user.volunteer}}</td>
                  <td>{{user.curr_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  